.hlavicka {
	/* napozicuj hlavičku fixně k hornímu okraji stránky */
position:fixed;
left:0;
top:0
}


.paticka {
	/* napozicuj patičku fixně k dolnímu okraji stránky */
position:fixed;
left:0;
bottom:0;
width:100%
}


.poznamka {
	/* napozicuj poznámku k pravému okraji okraji stránky */
position:fixed;
right:0;
top:0
}